
.wait {
     position: fixed;
   z-index: 1010;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(200,200,200,0.5) url('../img/gears.gif') no-repeat center center;
}

.chat_container {
    max-height: 300px;
    overflow-y: hidden;
    overflow-x: scroll;
}

video {
    max-width: 100%;
}